<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>Account</servlet-name>
    <servlet-class>Account.AccountBackend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoanApplication</servlet-name>
    <servlet-class>LoanApplication.LoanApplicationBackend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoanApplication</servlet-name>
    <url-pattern>/loanApplication</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>Transaction</servlet-name>
    <servlet-class>Transaction.TransactionBackend</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Transaction</servlet-name>
    <url-pattern>/transaction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CreateAPerson</servlet-name>
    <servlet-class>Person.PersonBackend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAPerson</servlet-name>
    <url-pattern>/person</url-pattern>
  </servlet-mapping>


</web-app>